<div class="inputSec">
	<h2>Input words to create your <span class="mania">MadLib!</span></h2>

	<div class="inputs">
		<div>
			<input name="person_name" placeholder="A Person's Name" ng-model="name" />
			<input name="job_title" placeholder="Job Title" ng-model="jobTitle" />
			<input name="action" placeholder="An Action" ng-model="action" />
			<input name="weirdAnimal" placeholder="Unusual Animal" ng-model="pet" />
			<input name="coolPlace" placeholder="Interesting Place" ng-model="place" />
			<input name="adjective" placeholder="Adjective" ng-model="adjective" />
			<input name="sportTeam" placeholder="Sport Team" ng-model="sportTeam" />
			<input name="food" placeholder="Type of Food" ng-model="food" />
			<input name="noun" placeholder="Noun" ng-model="noun" />
		</div>
		<div class="button">
 			<a href="#/view2"><button ng-click="save()">Generate Your MadLib!</button></a>
		</div>
	</div>
</div>


